.add-buttons {
    padding: 20px;
}

.button {
    border-radius: 3px;
    text-align: center;
    padding: 5px;

    cursor: pointer;
    background-color: white;

    margin: 15px 0;

    color: dimgrey;
    font-size: 0.8em;
    font-style: italic;
}

.button:hover {
    background-color: #ffffb8;
}

.button img {
    height: 30px;
}
