<div class="wrapper">
    <div class="sidebar">
        <div class="add-buttons">
            <div class="button z-depth-3" (click)="createDDComponent('upload')">
                <img src="../../../assets/icons/icon_upload.png"/><br/>upload
            </div>

            <div class="button z-depth-3" (click)="createDDComponent('union')">
                <img src="../../../assets/icons/icon_union.png"/><br/>union
            </div>

            <div class="button z-depth-3" (click)="createDDComponent('intersect')">
                <img src="../../../assets/icons/icon_intersect.png"/><br/>intersect
            </div>

            <div class="button z-depth-3" (click)="createDDComponent('filter')">
                <img src="../../../assets/icons/icon_filter.png"/><br/>filter
            </div>

            <div class="button z-depth-3" (click)="createDDComponent('select')">
                <img src="../../../assets/icons/icon_select.png"/><br/>select
            </div>

        </div>
    </div>
    <div class="vis-container">

    </div>
</div>
